<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-table" matSort (matSortChange)="sortData($event)">

    <!-- Define columns -->
    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{headerMapping[column] || column }} </th>
      <td mat-cell class="overflow" *matCellDef="let element">
        <ng-container [ngSwitch]="column">
          <ng-container *ngSwitchCase="'market_price'">
            {{element.price.market_price[(objectKeys(element.price.market_price)[0])]}}
          </ng-container>
          <ng-container class="overflow"*ngSwitchCase="'image_url'">
            <img [src]="getNestedValue(element, column)" alt="{{getNestedValue(element, 'name')}}"
              style="width: 50px; height: auto;">
          </ng-container>
          
          <ng-container *ngSwitchCase="'store_status.buying.enabled'">
            <mat-slide-toggle checked="{{element.store_status[objectKeys(element.store_status)[0]].buying.enabled}}" (change)="onCheckboxChange(element, column, $event)"></mat-slide-toggle>
          </ng-container>
          <ng-container *ngSwitchCase="'store_status.buying.quantity'">
            <mat-form-field appearance="outline"> <input matInput  min="0" type="number" value="{{element.store_status[objectKeys(element.store_status)[0]].buying.quantity}}"
                (change)="onQtyChange(element, column, $event)">
            </mat-form-field> </ng-container>

              <ng-container *ngSwitchCase="'store_status.selling.enabled'">
            <mat-slide-toggle #sellToggle (change)="onCheckboxChange(element, column, $event)" checked="{{element.store_status[objectKeys(element.store_status)[0]].selling.enabled}}"></mat-slide-toggle>
          </ng-container>
          <ng-container *ngSwitchCase="'store_status.selling.quantity'">
            <mat-form-field appearance="outline"> <input matInput min="0" type="number" value="{{element.store_status[objectKeys(element.store_status)[0]].selling.quantity}}"
                (change)="onQtyChange(element, column, $event)">
            </mat-form-field>
          </ng-container>
          <ng-container *ngSwitchCase="'buylist_price'">
            {{ calculateBuylistPrice(element.price.market_price[objectKeys(element.price.market_price)[0]]) | number:'1.2-2' }}
          </ng-container>
          <ng-container *ngSwitchCase="'pos_id'">
        {{element.store_status[objectKeys(element.store_status)[0]].pos_id}}
          </ng-container>
          <ng-container *ngSwitchDefault>
            {{ getNestedValue(element, column) }}
          </ng-container>
        </ng-container>
      </td>
    </ng-container>

  

    <!-- Header and Row Declarations -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="totalLength" [pageSizeOptions]="[10, 20, 100]" showFirstLastButtons></mat-paginator>
</div>