# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# IDEs and editors
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.history/*

# Miscellaneous
.sass-cache/
/connect.lock
/libpeerconnection.log
testem.log
/typings
