<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar class="mat-primary">Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item href="#">Dashboard</a>
            <a mat-list-item href="#">Sales</a>
            <a mat-list-item [routerLink]="['/inventory']">Inventory</a>
            <a mat-list-item href="#">Customers</a>
            <a mat-list-item href="#">Reports</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="accent">
            @if (isHandset$ | async) {
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            }
            <span>frontend</span>
        </mat-toolbar>
        <router-outlet />
    </mat-sidenav-content>
</mat-sidenav-container>