<mat-card class="login-card">
  <mat-card-header class="login-header">
    <h1 class="login-title">{{ title }}</h1>
  </mat-card-header>
  <mat-card-content>
   
      <ng-container *ngIf="authType === 'register'; else loginForm">
        <mat-horizontal-stepper [linear]="true" #stepper>
          <mat-step [stepControl]="userInfoForm">
            <form [formGroup]="userInfoForm" >
              <ng-template matStepLabel>User Info</ng-template>
              <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username" placeholder="Username" />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="Email" />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" placeholder="Password" type="password" />
              </mat-form-field>
              <div>
                <button mat-button matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="storeInfoForm" >
            <form [formGroup]="storeInfoForm" (ngSubmit)="submitForm()">
              <ng-template matStepLabel>Store Info</ng-template>
              <mat-form-field appearance="outline">
                <mat-label>Store Name</mat-label>
                <input matInput formControlName="storeName" placeholder="Store Name" />
              </mat-form-field>
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-raised-button color="primary" [disabled]="!userInfoForm.valid && !storeInfoForm.valid" type="submit">
                  Submit
                </button>
              </div>
            </form>
          </mat-step>
        </mat-horizontal-stepper>
      </ng-container>

      <ng-template #loginForm>
        <form [formGroup]="authForm" (ngSubmit)="submitForm()">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="Email" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" placeholder="Password" type="password" />
        </mat-form-field>
        <button mat-raised-button color="primary" [disabled]="!authForm.valid" type="submit">
          {{ title }}
        </button>
        </form>
      </ng-template>
  </mat-card-content>
  <mat-card-footer>
    <p class="login-subtext">
      <ng-container *ngIf="authType === 'register'">
        <a [routerLink]="['/login']">Have an account?</a>
      </ng-container>
      <ng-container *ngIf="authType === 'login'">
        <a [routerLink]="['/register']">Need an account?</a>
      </ng-container>
    </p>
  </mat-card-footer>
</mat-card>